#terminal{
  background: #333;
  color: white;
  width: 60em;
  padding: 2px;
  font-family: monospace;
}
#terminal input{
  color: white;
  width: 50em;
  display: inline;
}
#terminal div, #terminal .line, #terminal input{
  background: #333;
  border: none;
  margin: 0px;
  padding: 0px;
}

.highlight {
  color: #ff5;
}
.error {
  color: #f55;
}
.history {
  color: gray;
}

#suggest {
    position: absolute;
    background-color: #f0fff0;
    /*border: 1px solid #CCCCFF;*/
    border: none;
    font-size: 90%;
}
#suggest div {
    color: black;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
#suggest div.select{ /* キー上下で選択した場合のスタイル */
    color: #FFFFFF;
    background-color: #3366FF;
}
#suggest div.over{ /* マウスオーバ時のスタイル */
    background-color: #99CCFF;
}

